@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./global.scss";

/*  #006d77 
    #83c5be header footer
    #edf6f9 body
    #ffddd2 */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  text-align: center;
  height: 10vh;
}

.userColumn {
  min-height: 80vh;
  background-color: #83c5be;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilecontainer {
  background-color: #83c5be;
}
.userColumn h1 {
  background-color: #83c5be;
  
}

.userColumn p {
  background-color: #83c5be;
}

.userColumn a {
  background-color: #83c5be;
}

.questionColumn {
  align-items: center;
  background-color: #EDF6F9;
}


label {
  display: flex;
  justify-content: column;
  align-items: center;
  margin: 0;
}

.form-box {
  margin: 10px;
  display: block;
  justify-content: center;
  align-items: center;
}

.form-input {
  border: 1px black solid;
  width: 100%;
  padding: 3px;
  border-radius: 5px;
}


button {
  border: 1px solid #000;
}

.ratioBar {
  height: 50px;
  width: 500px;
}

.ratioBarFull {
  float: left;
}

.barContainer {
  text-align: -webkit-center;
}

.resultPercent {
  padding: 0px 5px;
}

.resultText {
  flex: auto;
  float: right;
  display: inline-flex;
}

.resultPercent,
.resultText {
  position: relative;
  z-index: 9999;
}

.registerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  height: 10vh;
  text-align: center;
}
