@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./global.scss";

/*  #006d77 
    #83c5be header footer
    ##D3D3DA body
    #ffddd2 */



.app{
  height: 80vh;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  text-align: center;
  height: 10vh;
}

.userColumn {
  background-color: #83c5be;
}

.profileContainer {
  background-color: #FFDDD2;
  overflow: auto;
  max-height: 80vh;
}

.questionColumn {
  align-items: center;
  background-color: #EDF6F9;
}


label {
  display: flex;
  justify-content: column;
  align-items: center;
  margin: 0;
}

.form-box {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-input {
  border: 1px black solid;
  width: 100%;
  padding: 3px;
  border-radius: 5px;
}

.submitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.aroundBox {

border-radius: 10px;
display: flex;
background-color: #FFDDD2;
}

button {
  border: 1px solid #000;
  margin: 5px;
  padding: 20px;
  border-radius: 10px;
}

.ratioBar {
  height: 50px;
  width: 500px;
  background-color: rgb(234, 97, 120);
  color:black;
}

.ratioBarFull {
  float: left;
  position:absolute;
  background-color: blue;
  color:white;
}

.barContainer {
  text-align: -webkit-center;
}

.resultPercent {
  padding: 0px 2px;
}

.resultText {
  flex: auto;
  float: right;
  display: inline-flex;
}

.resultPercent,
.resultText {
  position: relative;
  z-index: 9999;
}

.registerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  height: 10vh;
  text-align: center;
}

.bg-login {
  background-image: url(../src/assets/images/boxer-login.svg);
  height: 80vh;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.bg-signup {
  background-image: url(../src/assets/images/boxer-signup.png);
}

.questionBox {
  background-color: #83c5be;
  
}

.questionText {
  overflow: auto;
  height: 80vh;
  margin-right: 50px;
  background-color: #D3D3DA;
  
}

.questionTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  font-size: 30px;
}

.questionPtag {
  display: flex;
  justify-content: center;
  font-weight: 900;
  margin-bottom: 5px;
}

.precentClass {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  font-style: bold;
}

.thanksClass {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonYN {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  padding: 2px 2px;
  
}

.questionsMap {
  display: flex;
}

.loginClass {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}