@import "../../global.scss";

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bodyColor;
    border: none;
    h2 {
        font-size: 50px;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
        margin-left: 29rem;
        display: flex;
        
    }
}