@import "../../global.scss";

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bodyColor;
  border: none;
  h2 {
    font-size: 50px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    display: flex;
  }
  div {
      display: flex;
      align-items: center;
      justify-content: center;
    img {
        
    }
  }
}
